#vue-canvas,
#vue-canvas-glass {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	z-index: -1;
}

.canvas-container {
	position: fixed;
	overflow: hidden;
	z-index: -1;
}
#vue-canvas-glass {
	position: relative;
	filter: blur(6px);
}
