@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
	// 取消邊界重疊
	box-sizing: border-box;
}

*,
*:before,
*:after {
	// 繼承取消邊界重疊
	box-sizing: inherit;
}

body {
	position: relative;
	// 字體顯示優化
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: "Montserrat", "Noto Sans TC", sans-serif;
	background-color: color(basic_white);
}

#app {
	// 適應視窗大小
	min-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
	white-space: pre;
}

svg:focus {
	outline: none;
}

p,
h2,
h4,
h5 {
	margin: 0.5em 0;
}
a {
	text-decoration: none;
}

button {
	border: 0px;
	background-color: color(basic_white);
	color: color(basic_black);

	&:hover {
		cursor: pointer;
	}
}
